<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    <title></title>
  </head>
  <body>



<h1>bangalore jobs information:</h1><hr>
<img src="{% static 'images/image8.jpg' %}" alt="">
<img src="{% static 'images/image9.jpg' %}" alt="">
<img src="{% static 'images/image10.jpg' %}" alt=""><hr>
{% if jobs_list %}
<table border='2' id='sp'>
  <thead>
    <th>date</th>
    <th>company name</th>
    <th>Job title</th>
    <th>eligibility</th>
    <th>address</th>
    <th>email</th>
    <th>phone number</th>
  </thead>
  {% for job in jobs_list %}
  <tr>
    <td>{{job.date}}</td>
    <td>{{job.company|title}}</td>
    <td>{{job.title}}</td>
    <td>{{job.eligibility|upper}}</td>
    <td>{{job.address|title}}</td>
    <td>{{job.email}}</td>
    <td>{{job.phonenumber}}</td>
  </tr>
  {% endfor %}

</table>
{% else %}
<p>no data found</p>
{%endif%}
</body>
</html>
