<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    <title></title>
  </head>
  <body>
    <h1>welocme to TEJASWINI'S jobs portal</h1>
    <p>here you can see all jobs updations</p><hr>
    <ul>
      <li><a href='/hyd'>HydJobs</a></li>
      <li><a href='/blore'>BloreJobs</a></li>
      <li><a href='/chennai'>chennaiJobs</a></li>
      <li><a href='/pune'>puneJobs</a></li>
    </ul><hr>
    <img src="{% static 'images/image1.jpg' %}" alt="image not available">
    <img src="{% static 'images/image2.jpg' %}" alt="image not available">
    <img src="{% static 'images/image3.jpg' %}" alt="image not available">


  </body>
</html>
